/* ================ Modal ================ */
.modal-backdrop.fade{
    display: none !important;
}

.modal{
    z-index: 1039 !important;
}
.modal .modal-footer{
    position: fixed;
    width: 100% !important;
    left: 0 !important;
    bottom: 0 !important;
}

.modal-content{
    background: #212529;
    color: white !important;
}

.modal-Category{
    max-width: 700px !important;
}
.modal-Product{
    max-width: 700px !important;
}

.modal-body .input-group-text{
    background: #30353a !important;
    color: #0D6EFD !important;
    z-index: 1040 !important;
}

.modal-body .form-control{
    background: #212529 !important;
    color: #fff;
    box-shadow: none !important;
}
.modal-body .form-control:focus ,
.modal-body .form-control:focus + .input-group-text{
    border-color: #0D6EFD !important;
}

.modal-btn{
    min-width: 120px !important;
    max-width: 220px !important;
}
/* ================ Modal ================ */



/* ================ pagination ================ */
.pagination .page-item button:disabled {
    background: #505050 !important;
    color: #212529;
}
.pagination .page-item .prev-btn {
    border-radius: 0 10px 10px 0 !important;
}
.pagination .page-item .next-btn {
    border-radius: 10px 0 0  10px !important;
}

.pagination .page-link.page_active {
    background: #065de0 !important;
    color: #000 !important;
}
/* ================ pagination ================ */



/* ================ prevPageBTN ================ */
.prevPageBTN{
    position: fixed !important;
    bottom:30px !important;
    left:30px !important;
    height:50px !important;
    box-shadow: 0 0 10px 2px rgb(24, 16, 16);
}
.prevPageBTN button {
    width: 100px !important;
}
/* ================ prevPageBTN ================ */


/* ================ bg404Error ================ */
.bg-Error{
    background: url('/public/assets/images/bgError/p404.png') rgb(13, 5, 24);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ================ bg404Error ================ */

